kicad/ilomusiali-backups/**
kicad/fp-info-cache
kicad/production
firmware/*.elf
firmware/*.hex
firmware/*.lst
firmware/*.map
firmware/build.sh
bootloader/*.elf
bootloader/*.hex
bootloader/*.lst
bootloader/*.map
bootloader/build.sh
enclosure/*.FCStd1
