kicad/ilomusiali-backups/**
kicad/fp-info-cache
kicad/production
src/*.elf
src/*.hex
src/*.lst
src/*.map
src/build.sh
bootloader/*.elf
bootloader/*.hex
bootloader/*.lst
bootloader/*.map
bootloader/build.sh
enclosure/*.FCStd1
